*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    position: relative;
    width: 1920px;
    height: 1080px;
    background-color: #070500;
    font-family: 'Oswald';
    font-style: normal;
}
.wrapper{
    height: 100%;
    min-height: 720px;
    min-width: 1280px;
}
.left-navigation-column{
    position: absolute;
    z-index: 100;
    display: flex; 
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 240px;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.4);
    height: 1080px;
}
.main{
    width: 1920px;
    height: 1080px;
    position: relative;
    z-index: 1;
}
.page_about{
    display: none;
}
.page-one{
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("../../PXL.PRO_test-work/img/page-one_background.png");
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    color: #FFFFFF;
    width: 1920px;
    height: 1080px;
}
.title{
    font-family: Oswald;
    font-style: normal;
    font-size: 24px;
    font-weight: 300;
    padding-top: 45px;
    padding-left: 240px;
}
.col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.col-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 480px;
}
.__bottom{
    position: relative;
    bottom: 0;
    margin-top: 100px;
    align-items: center;
}
.quote{
    width: 480px;
    padding-top: 300px;
    padding-left: 240px;
    font-weight: normal;
    font-size: 38px;
    line-height: 64px;
}
.quote h4{
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    position: relative;
    text-align: end;
}
.paragraf{
    width: 480px;
    padding-top: 300px;
    padding-left: 80px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

}
.play_icon a{
    position: absolute;
    border: 1px solid  #FFFFFF;
    border-radius: 100%;
    padding: 50px;
    box-sizing: border-box;
    margin: 0;
}
.play_icon p{
    padding-left: 50px;
}

.play{
    padding-left: 240px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    margin: 10px;
}
.__move{
    padding-left: 240px;
}
.scroll{
    padding-left: 240px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin-top: 40px;
    position: relative;
    bottom: 0;
}
.__group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.__group h4{
    font-family: Merriweather;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 10px;
}
.__group h5{
    font-size: 24px;
    line-height: 32px;
    text-transform: lowercase;
    border-top: 1px solid #FFFFFF;
}
.transition__top{
    padding-top: 20px;
}
.__bottom{
    padding-top: 0;
    position: relative;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
ul{
    padding-top: 300px;
    list-style: none;
}
li{
    padding: 15px;
}
.logo{
    top: 0;
    margin-top: 50px;
    padding: 5%;
}

.swap .new { opacity: 0; }
.swap {display:none; }
.swap .div_opacity {
  -webkit-transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -ms-transition: opacity .1s ease-in-out;
  -o-transition: opacity .1s ease-in-out;
  transition: opacity .1s ease-in-out;
  opacity: 1;
}

.page-two{
    display: none;
    background: radial-gradient(40.62% 76.77% at 50% 50%, #FFFFFF 21.32%, #E7E7E7 100%);
    color: #070500;
    width: 1920px;
    height: 1080px;
    position: relative;
    z-index: 20;
}
.shown{
    width: 100%;
    min-height: 800px;
    padding-left: 240px;
    position: relative;
}
.Slide{
    position: absolute;
    display: block;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    opacity: 1;
}
.Slide h2{
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    padding-left: 0px;
    margin-bottom: 170px;
}
.Slide h3{
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
}
.Slide p{
    width: 480px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-left: 180px;
}
.slideImg{
    position: absolute;
    padding-left: 200px;
    padding-top: 43px;
}
.miniatures{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 150px;
    z-index: 10;
}
.minImg{
    width: 238px;
    height: 356.5px;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    opacity: 1;
    z-index: 1;
}
.opacity{
    opacity: 0;
    display: none;
}